body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
	padding: 0px;
}
ul {
	list-style: none;
}
h1 {
	font-size: 0;
}
a {
	text-decoration: none;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	width: 100%;
}
.site-box {
	display: flex;
	align-items: center;
	gap: 20px;
	&__title {
		font-family: "Raleway";
		font-style: normal;
		font-weight: 600;
		font-size: 38px;
		line-height: 45px;

		color: #202020;
	}
	&__item {
	}
	&__link {
	}
	&__text {
		font-family: "Raleway";
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 16px;
		text-decoration-line: underline;

		color: #d2374a;
	}
}
.nav__item + .nav__item {
	margin-left: 31px;
}
.nav {
	padding-bottom: 17px;
	&__list {
		display: flex;
	}
	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 50px;
		/* or 312% */

		color: #000000;
	}
}
.main {
	padding-top: 17px;
	padding-bottom: 46px;
}
.category {
	padding-top: 46px;
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__item {
		width: 306px;
		height: 304px;
		position: relative;
		border: 2px dotted black;
	}
	&__img {
		margin-left: 60px;
		position: absolute;
		bottom: 10%;
		right: 0;
	}
	&__img-back {
		position: absolute;
		bottom: 0px;
		right: 0;
		z-index: -1;
	}
}
.ex {
	background-color: darkgreen;
	max-width: 200px;
	height: 200px;
}
.child {
	width: 100%;
}

.position {
	position: relative;
	top: 10px;
}
.back-img {
	height: 1000px;
	background-image: url("../img/category/category6.png");
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: contain;
}
.transform {
	position: relative;
	padding: 150px;
	height: 400px;
	background-color: #d2374a;
	&::before {
		position: absolute;
		content: "elephant";
		width: 100px;
		height: 100px;
		background-color: #000000;
		color: aqua;
		top: 50%;
		left: 50%;
		border-radius: 50%;
		transform: translate(-50%, -50%) scale(2);
	}
}
