body,
ul,
li,
h1 {
	margin: 0px;
	padding: 0px;
}
ul {
	list-style: none;
}
h1 {
	font-size: 0;
}
a {
	text-decoration: none;
}
.container {
	max-width: 1280px;
	margin: 0 auto;
	width: 100%;
}
.nav__item + .nav__item {
	margin-left: 31px;
}
.nav {
	&__list {
		display: flex;
	}
	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 50px;
		/* or 312% */

		color: #000000;
	}
}
.category {
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__item {
		width: 306px;
		height: 304px;
	}
	&__title {
	}
	&__img {
	}
}
