@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
*,
::after ::before {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

h1 {
  font-size: 0;
}

a {
  text-decoration: none;
}

span {
  display: inline-block;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.site-box {
  display: flex;
  align-items: center;
  gap: 20px;
}
.site-box__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 45px;
  color: #202020;
}
.site-box__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #d2374a;
}

.nav__item + .nav__item {
  margin-left: 31px;
}

.nav {
  padding-bottom: 17px;
}
.nav__list {
  display: flex;
}
.nav__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  /* or 312% */
  color: #000000;
}

.main {
  padding-top: 17px;
  padding-bottom: 46px;
}

.category {
  padding-top: 46px;
}
.category__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.category__item {
  width: 306px;
  height: 304px;
  position: relative;
  border: 2px dotted black;
}
.category__img {
  margin-left: 60px;
  position: absolute;
  bottom: 10%;
  right: 0;
}
.category__img-back {
  position: absolute;
  bottom: 0px;
  right: 0;
  z-index: -1;
}

.extra__wrapper {
  display: flex;
  max-width: 1280px;
  width: 100%;
}

.extra__item {
  height: 197px;
  width: 413px;
}

.promo__title {
  margin-bottom: 38px;
}
.promo__wrapper {
  display: flex;
}
.promo__item {
  display: flex;
  flex-direction: column;
  width: 306px;
  min-height: 306px;
  padding: 10px;
}
.promo__name {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #b4b4b4;
}
.promo__content {
  padding: 16px 20px;
}
.promo__content h5 {
  margin-bottom: 21px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #202020;
}
.promo__content h6 {
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: #d2374a;
}
.promo__content del {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #b4b4b4;
}

.price {
  display: flex;
}

.advert__wrapper {
  display: flex;
}
.advert__ad-salon {
  max-width: 630px;
  width: 100%;
  max-height: 458px;
  margin-right: 20px;
  background-image: url(../img/advert/);
}
.advert__purch {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  color: #d2374a;
}
.advert__title-salon {
  padding-bottom: 32px;
  font-weight: 600;
  font-size: 38px;
  line-height: 45px;
  /* identical to box height */
  color: #202020;
}
.advert__ben-salon {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  color: #848484;
}
.advert__name-salon {
  margin-bottom: 14px;
  margin-left: 9px;
}
.advert__ad-sites {
  max-width: 630px;
  width: 100%;
  max-height: 450px;
}
.advert__purch-sites {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  color: #d2374a;
}
.advert__title-sites {
  padding-bottom: 32px;
  font-weight: 600;
  font-size: 38px;
  line-height: 45px;
  /* identical to box height */
  color: #202020;
}
.advert__ben-sites {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  color: #848484;
}
.advert__item-sites {
  display: flex;
  gap: 9px;
  align-items: center;
}

.advert__item-salon + .advert__item-salon {
  margin-top: 14px;
}

.ex {
  background-color: darkgreen;
  max-width: 200px;
  height: 200px;
}

.child {
  width: 100%;
}

.position {
  position: relative;
  top: 100px;
}

.back-img {
  height: 1000px;
  background-image: url("../img/category/category6.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.transform {
  position: relative;
  padding: 150px;
  height: 400px;
  background-color: #d2374a;
}
.transform::before {
  position: absolute;
  content: "elephant";
  width: 100px;
  height: 100px;
  background-color: #000000;
  color: aqua;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(2);
}/*# sourceMappingURL=style.css.map */